<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Launch Application Test">

        <classes>

            <class name="tests.LaunchApplication"/>
        </classes>

    </test>
    <test name="verify cart page">

        <classes>

            <class name="tests.CartTest"/>
        </classes>

    </test>

</suite>